[submodule "computer_msgs"]
	path = computer_msgs
	url = git@github.com:Ar-Ray-code/computer_msgs.git
[submodule "rclshark-smi"]
	path = rclshark-smi
	url = git@github.com:Ar-Ray-code/rclshark-smi.git
