[Unit]
Descripton=ROS2 IP Publisher Start

[Install]
WantedBy=default.target

[Service]
ExecStart=/bin/bash /opt/rclshark_ws/src/rclshark/rclshark/rclshark.bash
Type=simple
Restart=on-failure

# Be sure to leave a line feed.
